# Default Node.gitignore
# https://github.com/github/gitignore/blob/master/Node.gitignore
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
*.log

# Ignore our output directories
tmp
test/prompts/*/tmp

# Ignore socket files
*.sock
